* {
    box-sizing: border-box;
}

.navbar {
    position: sticky;
    top: 10px;
    Background-color: white;
    border-bottom: 2px grey;
    height: 55px;
}

.navbar-container {
    position: relative;
    height: 55px
}

.logo {
    display: inline;
    width: 10%;
    margin: auto;

}
.navbar-links {
    display: inline;
    position: absolute;
    bottom: 0px;
    margin: 0px;
}