* {
    box-sizing: border-box;
}

.properties-container {
    display: grid;
    grid-template-columns: 12% auto;
    grid-template-areas: "sidebar main";
    padding:0px 0px 0px 0px;
    margin: 0px;
    width: 100%;
    background-color: rbg(171, 150, 171);
    height: 100%;
    min-height: 100vh;
}

.property-card-container {
    grid-area: main;
}

.sidebar {
    position: fixed;
    grid-area: sidebar;
    background-color: white;
    padding: 0px 0.5reml;
    border-right: 1px solid black;
    height: 100vh;
    width: 12%;
}

.alert {
    grid-area: alert;
}

.property-card-container > .item {
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}
